body {
    margin: 0;
    font-family: 'Smythe', cursive;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    font-family: 'EB Garamond', serif;
    color: goldenrod;
    right: 700px;
    top: 40px;
    border: 1px groove white;
    padding: 8px;
}

main {
    background-color: #F8F8F8;
    width: 700px;
    margin: auto;
}


li {
    list-style: none;
}


h1 {
    color: red;
}


.feed {
    display: flex;
    width: 600px;
    margin: 0 auto;
    align-items: center;
}

.item {
    display: flex;
    position: relative;
}

.sec1 {

    display: flex;
    align-items: center;
}

.sec2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 550px;
}

.heading {
    font-size: 28px;
}

.ing {
    font-size: 16px;
    color: #8B8B8B;
    margin: 9px 0 9px 0;
}

.price {
    font-size: 20px;
}

.item-border {
    border-top: 1px solid #D2D2D2;
    width: 75%;
    margin: 0 auto;
}

.img1 {
    font-size: 40px;
}

.fa-solid {
    font-size: 30px;
    cursor: pointer;
}

.header-img {
    width: 700px;
    height: auto;
}

.cart-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 45px;
    margin-bottom: 60px;
}

.master {
    display: flex;
    flex-direction: column;
}

.orders {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px;
}

.order-name {
    font-size: 28px;
    font-weight: 400;
}

.order-price {
    font-size: 24px;
    font-weight: 400;
}

.remove,
.remove:hover {
    font-size: 13px;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.border {
    border-top: 2px solid #393333;
    width: 87%;
    margin: 31px auto 14px auto;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px;
}

.total-price {
    font-size: 28px;
    font-weight: 400;
}

.complete-btn {
    align-content: center;
    width: 501px;
    padding: 18px 180px;
    background-color: #16DB99;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.complete-order {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    padding-bottom: 53px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Example: semi-transparent black overlay */
    z-index: 9999;
    display: none;
}



.popup-one {
    position: fixed;
    top: 100px;
    left: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 524px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;


}

.popup-heading {
    display: flex;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
}


.popup-one input[type=text],
.popup-one input[type=number],
.popup-one input[type=password] {
    width: 475.91px;
    height: 71.3px;
    margin-top: 23px;
    border-radius: 5px;
    padding-left: 15px;
}

.pay-btn {
    margin-top: 43px;
    margin-bottom: 30px;
    height: 74px;
    background: #16DB99;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}