body {
    margin: 0;
    font-family: 'Smythe', cursive;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    font-family: 'EB Garamond', serif;
    color: goldenrod;
    right: 700px;
    top: 40px;
    border: 1px groove white;
    padding: 8px;
}

main {
    background-color: #F8F8F8;
    width: 700px;
    margin: auto;
}


li {
    list-style: none;
}

.feed {
    display: flex;
    width: 600px;
    margin: 0 auto;
    align-items: center;
}

.item {
    display: flex;
    position: relative;
}

.sec1 {

    display: flex;
    align-items: center;
}

.sec2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 550px;
}

.heading {
    font-size: 28px;
}

.ing {
    font-size: 16px;
    color: #8B8B8B;
    margin: 9px 0 9px 0;
}

.price {
    font-size: 20px;
}

.item-border {
    border-top: 1px solid #D2D2D2;
    width: 75%;
    margin: 0 auto;
}

.img1 {
    font-size: 40px;
}

.fa-solid {
    font-size: 30px;
}

.header-img {
    width: 700px;
    height: auto;
}

.cart-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.master {
    display: flex;
    flex-direction: column;
}